<main>
    <section class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h2 class="card-title text-center">Ciudadano</h2>

                        <form id="ciudadanoForm">
                            <div class="form-group mt-3">
                                <label for="identidad">Identidad</label>
                                <input name="identidad" type="text" class="form-control" id="identidad" placeholder="Ingrese el id">
                            </div>
                            <article id="data-ciudadano" class="ciudadano--ocultar">
                                <div class="form-group mt-3">
                                    <label for="nombre">Nombre Completo</label>
                                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="fecnacimiento">Fecha de nacimiento</label>
                                    <input name="fecnacimiento" type="text" class="form-control" id="fecnacimiento" placeholder="Ingrese la fecha de nacimiento">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="genero">Genero</label>
                                    <input name="genero" type="text" class="form-control" id="genero" placeholder="Ingrese la fecha de nacimiento">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="direccion">Direccion</label>
                                    <input name="direccion" type="text" class="form-control" id="direccion" placeholder="Dirección de domicilio">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="estadocivil">Estado civil</label>
                                    <input name="estadocivil" type="text" class="form-control" id="estadocivil" placeholder="Ingrese el estado civil">
                                </div>
                            </article>
                            <div class="col mt-4 mb-3 ">
                                <button type="button" onclick="search()" class="btn btn-primary btn-block ">Buscar</button>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Agregar Vacuna
                                </button>

                            </div>
                            <div class="row mt-4 mb-3 ">

                                <button id="btn-form" data-action="create" type="submit" class="btn btn-primary btn-block ">Guardar</button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario de Vacunación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí comienza el formulario -->
                <form>
                    <div class="form-group">
                        <label for="identidad">Identidad:</label>
                        <input type="text" class="form-control" id="identidad" name="identidad" placeholder="Ingrese su identidad">
                    </div>
                    <div class="form-group">
                        <label for="numeroDosis">Número de Dosis:</label>
                        <input type="number" class="form-control" id="numeroDosis" name="numeroDosis" placeholder="Ingrese el número de dosis">
                    </div>
                    <div class="form-group">
                        <label for="vacuna">Vacuna:</label>
                        <input type="text" class="form-control" id="vacuna" name="vacuna" placeholder="Ingrese el nombre de la vacuna">
                    </div>
                </form>
                <!-- Fin del formulario -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>



<style>
    .ciudadano--ocultar {
        display: none;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


<script type="text/javascript">

    function setValue(id, value) {
        document.getElementById(id).value = value;
    }

    function search() {
        let identidad = document.getElementById("identidad");
        let value = Number(identidad.value);
        console.log("buscar");
        const button = document.getElementById("btn-form");
        fetch(`/api/digitador/${value}`, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        })
            .then(response => response.json())
            .then(data => {
                console.log("data", data);
                if (data.success) {
                    //Ingresamos la informacion de ciudadano
                    identidad.value = data.id;
                    setValue("nombre", data.nombre);
                    setValue("fecnacimiento", data.fecnacimiento);
                    setValue("genero", data.genero);
                    setValue("direccion", data.direccion);
                    setValue("estadocivil", data.estadocivil);

                    //Mostramos la informacion del ciudadano
                    let dataCiudadano = document.getElementById("data-ciudadano");
                    dataCiudadano.classList.remove("ciudadano--ocultar");

                    button.setAttribute("data-action", "save");
                    //window.location.href = "/Home/index";
                } else {
                    button.setAttribute("data-action", "create")
                    //document.getElementById("message").textContent = "Credenciales incorrectas. Inténtalo de nuevo.";
                }
            })
            .catch(error => {
                console.error("Error de red:", error);
            });
    }

    function getValue(id) {
        return document.getElementById(id).value;
    }

    function getData() {
        let data = {
            id: getValue("identidad"),
            nombre: getValue("nombre"),
            fecnacimiento: getValue("fecnacimiento"),
            genero: getValue("genero"),
            direccion: getValue("direccion"),
            estadocivil: getValue("estadocivil"),
        }
        return data;
    }

    function create() {
        let identidad = document.getElementById("identidad");
        let value = Number(identidad.value);
        const button = document.getElementById("btn-form");
        const data = getData();

        fetch(`/api/digitador/${value}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log("data", data);
                if (data.success) {
                    //Ingresamos la informacion de ciudadano
                    identidad.value = data.id;
                    setValue("nombre", data.nombre);
                    setValue("fecnacimiento", data.fecnacimiento);
                    setValue("genero", data.genero);
                    setValue("direccion", data.direccion);
                    setValue("estadocivil", data.fecnacimiento);

                    //Mostramos la informacion del ciudadano
                    let dataCiudadano = document.getElementById("data-ciudadano");
                    dataCiudadano.classList.remove("ciudadano--ocultar");

                    button.setAttribute("data-action", "save");
                } else {

                    //document.getElementById("message").textContent = "Credenciales incorrectas. Inténtalo de nuevo.";
                }
            })
            .catch(error => {
                console.error("Error de red:", error);
            });
    }

    function save() {
        let identidad = document.getElementById("identidad");
        let value = Number(identidad.value);
        const button = document.getElementById("btn-form");
        const data = getData();

        fetch(`/api/digitador/${vaue}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log("data", data);
                if (data.success) {
                    //Ingresamos la informacion de ciudadano
                    identidad.value = data.id;
                    setValue("nombre", data.nombre);
                    setValue("fecnacimiento", data.fecnacimiento);
                    setValue("genero", data.genero);
                    setValue("direccion", data.direccion);
                    setValue("estadocivil", data.fecnacimiento);

                    //Mostramos la informacion del ciudadano
                    let dataCiudadano = document.getElementById("data-ciudadano");
                    dataCiudadano.classList.remove("ciudadano--ocultar");

                    window.location.href = "/Home/index";
                } else {

                    //document.getElementById("message").textContent = "Credenciales incorrectas. Inténtalo de nuevo.";
                }
            })
            .catch(error => {
                console.error("Error de red:", error);
            });
    }

    document.getElementById("ciudadanoForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const button = document.getElementById("btn-form");
        const action = button.getAttibute("data-action");

        switch (action) {
            case "create":
                create(button);
                break;
            case "save":
                save(button);
                break;
            default:
            // Código a ejecutar si la expresión no coincide con ningún caso
        }


    });

</script>